## build system files
gradle.properties
gradle-app.setting
.gradle
build
target
_TMP
tmp
out
bin

## intellij metadata files
.idea
*.iml
*.ipr
*.iws

## eclipse metadata files
.settings
.classpath
.project

## netbeans metadata files
.nb-gradle/private/
.nb-gradle/profiles/private/

## generic files
*~
*.lock
*.DS_Store
*.swp
*.out
Icon?
Thumbs.db
